body {
  color: #ffffff;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  min-width: 100vw;
  min-height: 100vh;
  gap: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.text {
  display: flex;
  place-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
}

.gif {
  display: flex;
  justify-content: center;
  place-items: center;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100px;
  grid-column: 1 / span 2;
  justify-content: center;
  place-items: center;
}

button {
  padding: 5px;
  border: none;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #cecece;
}

img {
  max-width: 100%;
}

@media (width <= 400px){
  .container {
    grid-template-columns: 1fr;
  }

  footer {
    grid-column: 1/2;
  }
}